<ng-container>
    <div class="h2">
        <h2>¡Bienvenidos!</h2>
    </div>
    <div style="text-align: center; margin-top: 30px">
        <img src="assets/img/cidenet.png" style="max-width: 400px; min-width: 100px">
    </div>
    <ng-container>
        <div style="margin-top: 40px">
            <table style="margin-left: -500px" id="my-tables" datatable
                   class="table table-hover table-responsive-md btn-table">
                <thead>
                <tr style="text-align:center; width: 100%">
                    <th *ngFor="let cel of tableData">
                        {{cel.header}}
                    </th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody *ngIf="myTables?.length != 0">
                <tr style="text-align:center" *ngFor="let myTable of myTables">
                    <td>{{ myTable.persona.primerNombre }}</td>
                    <td>{{ myTable.persona.segundoNombre }}</td>
                    <td>{{ myTable.persona.primerApellido}}</td>
                    <td>{{ myTable.persona.segundoApellido }}</td>
                    <td>{{ myTable.persona.tipoIdentificacion }}</td>
                    <td>{{ myTable.persona.numeroIdentificacion }}</td>
                    <td>{{ myTable.persona.pais }}</td>
                    <td>{{ myTable.persona.correoElectronico }}</td>
                    <td>{{ myTable.persona.fechaIngreso }}</td>
                    <td>{{ myTable.persona.area }}</td>
                    <td>{{ myTable.persona.estado }}</td>
                    <td>{{ myTable.persona.fechaRegistro }}</td>
                    <td class="btn-group">
                        <button type="button" class="btn btn-primary" (click)="openEdit(edit,myTable)">Editar</button>
                        <button type="button" class="btn btn-primary" (click)="openDelete(delete,myTable)">
                            <i class="fa fa-trash"></i>Eliminar
                        </button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="myTables?.length == 0">
                <tr>
                    <td colspan="3" class="no-data-available">No existen usuarios registrados</td>
                </tr>
                </tbody>
            </table>

            <div style="text-align: center">
                <a (click)="nav()" class="btn btn-secondary btn-lg">Registro</a>
            </div>
        </div>

        <!-- Modal Delete -->
        <ng-template #delete let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Usuario</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-content">¿Está seguro de que desea eliminar el empleado? </h4>
            </div>
            <div class="modal-content">
                <button type="button" class="btn btn-outline-dark" (click)="deleteUser()" (click)="c('Save click')">
                    Sí
                </button>
            </div>

            <div class="modal-content">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">
                    No
                </button>
            </div>
        </ng-template>


        <!-- Modal Edit -->
        <ng-template #edit let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Edición de Usuarios</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div [formGroup]="formUser">

                    <div class="form-header">
                        <div class="form-title" style="text-align: left">Primer Apellido:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="dataPersona?.primerApellido" type="text" class="form-control inputs"
                                   formControlName="primerApellido"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Segundo Apellido:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="dataPersona?.segundoApellido" type="text" class="form-control inputs"
                                   formControlName="segundoApellido"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Primer Nombre:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="dataPersona?.primerNombre" type="text" class="form-control inputs"
                                   formControlName="primerNombre"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Segundo Nombre:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="dataPersona?.segundoNombre" type="text" class="form-control inputs"
                                   formControlName="segundoNombre"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">País del Empleo:</div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="pais">
                                <option>Colombia</option>
                                <option>Estados Unidos</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Tipo de Identificación:</div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="tipoId">
                                <option>Cédula de Ciudadanía</option>
                                <option>Tarjeta de Identidad</option>
                                <option>Pasaporte</option>
                                <option>Permiso Especial</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Número de Identificación:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="dataPersona?.numeroIdentificacion" type="text" class="form-control"
                                   formControlName="numId"
                                   onkeypress="return ((event.charCode >= 45 && event.charCode <=45)||
                                   (event.charCode >= 48 && event.charCode <= 57)||(event.charCode >= 65 && event.charCode <= 90)
                                   || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Correo Electrónico:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="dataPersona?.correoElectronico" type="text" class="form-control inputs"
                                   formControlName="correo" disabled>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Área:</div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="area">
                                <option>Sistemas</option>
                                <option>Administración</option>
                                <option>Financiera</option>
                                <option>Compras</option>
                                <option>Infraestructura</option>
                                <option>Operación</option>
                                <option>Talento Humano</option>
                                <option>Servicios Varios</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Estado:</div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="estado">
                                <option [defaultSelected]="estado">Activo</option>
                                <option>Inactivo</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="editUser()" (click)="c('Save click')">
                    Guardar
                </button>
            </div>
        </ng-template>

    </ng-container>
</ng-container>
