h2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    margin-top: 30px;
    text-align: center;
}

.btn{
    background-color: #04305d;
    color: aliceblue;
}

.tableColor{
    background-color: #04305d;
    color:aliceblue;
}

.inputs{
    text-transform: uppercase;
}
