h2 {
    color: #143D8D;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    margin-top: 30px;
    text-align: center;
}

.btn{
    background-color: #04305d;
    color: aliceblue;
}

.tableColor{
    background-color: #04305d;
    color:aliceblue;
}
.margin{
    margin-top: 10px;
}

.inputs{
    width: 60%;
    text-transform: uppercase;
}
.val {
    font-size: 70%;
    color: red;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: -5%;
}
