<div class="h2">
    <h2>¡Registra un nuevo Usuario!</h2>
</div>
<div style="text-align: center; margin-top: 30px">
    <img src="assets/img/cidenet.png" style="max-width: 400px; min-width: 100px">
</div>
<div style="margin-top: 40px">
    <body>

    <div class="container" style="margin-left: 125px">

        <div class="signup-form-container">

            <!-- form start -->
            <div class="form-group">

                <div [formGroup]="formUser">

                    <div class="form-header">
                        <div class="form-title" style="text-align: left">Primer Apellido:
                            <span class="val"
                                  *ngIf="formUser.controls['primerApellido'].errors?.required &&formUser.touched && formUser.controls['primerApellido'].dirty">Requerido</span>
                        </div>
                        <div style="margin-top: 5px">
                            <input type="text" class="form-control inputs" formControlName="primerApellido"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Segundo Apellido:
                            <span class="val"
                                  *ngIf="formUser.controls['segundoApellido'].errors?.required &&formUser.touched && formUser.controls['segundoApellido'].dirty">Requerido</span>
                        </div>
                        <div style="margin-top: 5px">
                            <input type="text" class="form-control inputs" formControlName="segundoApellido"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Primer Nombre:
                            <span class="val"
                                  *ngIf="formUser.controls['primerNombre'].errors?.required &&formUser.touched && formUser.controls['primerNombre'].dirty">Requerido</span>
                        </div>
                        <div style="margin-top: 5px">
                            <input type="text" class="form-control inputs" formControlName="primerNombre"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Segundo Nombre:
                            <span class="val"
                                  *ngIf="formUser.controls['segundoNombre'].errors?.required &&formUser.touched && formUser.controls['segundoNombre'].dirty">Requerido</span>
                        </div>
                        <div style="margin-top: 5px">
                            <input type="text" class="form-control inputs" formControlName="segundoNombre"
                                   onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>


                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">País del Empleo:
                            <span class="val"
                                  *ngIf="formUser.controls['pais'].errors?.required &&formUser.touched && formUser.controls['pais'].dirty">Requerido</span>
                        </div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="pais">
                                <option>Colombia</option>
                                <option>Estados Unidos</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Tipo de Identificación:
                            <span class="val"
                                  *ngIf="formUser.controls['tipoId'].errors?.required &&formUser.touched && formUser.controls['tipoId'].dirty">Requerido</span>
                        </div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="tipoId">
                                <option>Cédula de Ciudadanía</option>
                                <option>Tarjeta de Identidad</option>
                                <option>Pasaporte</option>
                                <option>Permiso Especial</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Número de Identificación:
                            <span class="val"
                                  *ngIf="formUser.controls['numId'].errors?.required &&formUser.touched && formUser.controls['numId'].dirty">Requerido</span>
                        </div>
                        <div style="margin-top: 5px">
                            <input type="text" class="form-control" style="width: 60%"
                                   formControlName="numId"
                                   onkeypress="return ((event.charCode >= 45 && event.charCode <=45)||
                                   (event.charCode >= 48 && event.charCode <= 57)||(event.charCode >= 65 && event.charCode <= 90)
                                   || (event.charCode >= 97 && event.charCode <= 122))">
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Fecha Ingreso:</div>
                        <div style="margin-top: 5px">
                            <input type="date" class="form-control inputs" (input)="validarFechas()"
                                   formControlName="fechaIngreso">
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Área:
                            <span class="val"
                                  *ngIf="formUser.controls['area'].errors?.required &&formUser.touched && formUser.controls['area'].dirty">Requerido</span>
                        </div>
                        <div class="dropdown" style="margin-top: 5px">
                            <select class="form-control inputs" formControlName="area">
                                <option>Sistemas</option>
                                <option>Administración</option>
                                <option>Financiera</option>
                                <option>Compras</option>
                                <option>Infraestructura</option>
                                <option>Operación</option>
                                <option>Talento Humano</option>
                                <option>Servicios Varios</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Estado:
                            <span class="val"
                                  *ngIf="formUser.controls['estado'].errors?.required &&formUser.touched && formUser.controls['estado'].dirty">Requerido</span>
                        </div>
                        <div class="dropdown" style="margin-top: 5px">
                            <input [ngModel]="estado" type="text" class="form-control inputs"
                                   formControlName="estado" disabled>

                        </div>
                    </div>

                    <div class="form-header margin">
                        <div class="form-title" style="text-align: left">Fecha Registro:</div>
                        <div style="margin-top: 5px">
                            <input [ngModel]="sysdate| date:'\'yyyy-MM-dd HH:mm:ss'" type="text"
                                   class="form-control inputs" formControlName="fechaRegistro" readonly>
                        </div>
                    </div>

                    <div style="margin-top: 30px">
                        <button type="submit" class="btn btn-info" (click)="registrarUsuario()">
                            Guardar
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </body>
</div>
